<ngx-ui-carousel [infinite]="true" [fade]="false" [speed]="300" [autoPlay]="false" [colorConfig]="colorConfigy">
  <ngx-ui-carousel-item>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
      <div class="text">1</div>
  </ngx-ui-carousel-item>
  <ngx-ui-carousel-item>
      <div class="text">2</div>
  </ngx-ui-carousel-item>
  <ngx-ui-carousel-item>
      <div class="text">3</div>
  </ngx-ui-carousel-item>
   <ngx-ui-carousel-item>
      <div class="text">4</div>
  </ngx-ui-carousel-item>
</ngx-ui-carousel>
